{% load i18n %}

<table class="table table-sm table-hover">
    <tbody>
        <th>{% trans 'Communication with colleagues' %}</th>
        {% with practice.communicationdigitalwithcolleagues_set.all as comm_set %}
            {% if comm_set %}
                {% for digital_comm in comm_set %}
                    <tr>
                        <td>
                        {{ digital_comm.com_type_of_communication }}
                        </td>
                        <td class="text-end">
                            <a href="{% url 'practices:communication-digital-colleagues-delete' digital_comm.id %}" class="link-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td><a>{% trans 'No digital communication added yet.' %}</a></td>
                <td></td>
            </tr>
            {% endif %}
        {% endwith %}
    </tbody>
</table>