{% load i18n %}

<div class="row ">
    <div class="col-md ">
        <div id="div_id_process__step__step_definition__name" class="mb-3">
            <label for="id_process__step__step_definition__name" class="form-label">
                {% trans 'Process step fullfilled' %}
            </label>
            <select name="process__step__step_definition__name" class="select form-select"
                id="id_process__step__step_definition__name">
                <option value="" selected="">---------</option>
                {% for step_definition in step_definitions %}
                <option value={{step_definition.pk}}>{{ step_definition.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md ">
        <div id="div_id_processStep_not_fullfilled" class="mb-3">
            <label for="id_processStep_not_fullfilled" class="form-label">
                {% trans 'Process step not fullfilled' %}
            </label>
            <select name="processStep_not_fullfilled" class="select form-select" id="id_processStep_not_fullfilled">
                <option value="" selected="">---------</option>
                {% for step_definition in step_definitions %}
                <option value={{step_definition.pk}}>{{ step_definition.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>