{% load i18n %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Contact' %}
            <a href="{% url 'practices:edit-contact' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                <th>{% trans 'Phone' %}</th>
                <td class="text-end">
                    {% if practice.contact_phone %}
                        {{ practice.contact_phone }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Phone (alternative)' %}</th>
                <td class="text-end">
                    {% if practice.contact_phone_alt %}
                        {{ practice.contact_phone_alt }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Fax' %}</th>
                <td class="text-end">
                    {% if practice.contact_fax %}
                        {{ practice.contact_fax }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'E-Mail' %}</th>
                <td class="text-end">
                    {% if practice.contact_email %}
                            {{ practice.contact_email|urlize }}<br>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'E-Mail (alternative)' %}</th>
                <td class="text-end">
                    {% if practice.contact_email_alt %}
                            {{ practice.contact_email_alt|urlize }}<br>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Preferred contact medium' %}</th>
                <td class="text-end">{{ practice.get_contact_preferred_medium_display|default:"" }}</td>
            </tr>
            <tr>
                <th>{% trans 'Website' %}</th>
                <td class="text-end">
                    {% if practice.contact_website %}
                        {{ practice.contact_website|urlize }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>