{% extends 'practices/practice_base.html' %}
{% load i18n %}


{% block practice-content %}
    <div class="row">
        <div class="col-sm">
            <h3 class="display-6">
                {% trans 'Base Data' %}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    {% include 'practices/base_data/info.html' %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">
                    {% include 'practices/base_data/sites.html' %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">
                    {% include 'practices/base_data/owners.html' %}
                </div>
            </div>
        </div>
        <div class="col-sm">


            <div class="row">
                <div class="col-sm">
                    {% include 'practices/base_data/contact.html' %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">
                    {% include 'practices/base_data/opening_hours.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
    </div>
{% endblock %}