{% load i18n %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Additional Sites' %}
            <a href="{% url 'practices:create-site' practice.id %}">
                <i class="fa fa-plus-circle"></i>
            </a>
        </h5>
        {% if practice.additional_sites %}
            {% for site in practice.additional_sites %}
                {% include 'practices/snippets/additional_site.html' %}
            {% endfor %}
        {% else %}
            {% trans 'No additional sites entered yet.' %}
        {% endif %}

    </div>
</div>