{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block page_content %}
<h1>Aktuelle Änderungen des Praxisregisters</h1>
<p>Letztes Update des Dokuments: 30.05.23 </p>
<hr>
<article class="blog-post">
    <h2 class="blog-post-title">E-Mail</h2>
    <p>Unter der Hauptnavigation ist nun ein Reiter für Emails zu finden</p>
    <img src="{% static 'changelogs/images/email-module.png' %}" alt="image:sidebar"
    style="border: 3px solid #0d6efd; width:100%;">
    <hr>
    <h2 class="blog-post-title">Seitliche Navigationsleiste</h2>
    <ul>
        <li>Unter Vorlagen können Emails vordefiniert und immer wieder verwendet werden.</li>
        <li>Unter Textbausteine werden eigens definierte Texte unter einer Abkürzung gespeichert.</li>
        <li>Unter Entwürfe werden nicht abgesendete Emails gespeichert.</li>
        <li>Unter gesendete Emails können bereits versendete Emails betrachtet werden.</li>
    </ul>
    <hr>
    <h2 class="blog-post-title">Besondere Funktionalitäten</h2>
    <img src="{% static 'changelogs/images/email-message.png' %}" alt="image:message"
    style="border: 3px solid #0d6efd;">
    <hr>
    <ul>
        <li>Eine Nachricht kann mit "Systemkontextfeldern" befüllt werden. Die Felder entsprechen Werte, wie zum Beispiel Personennamen, die im PRM hinterlegt sind.
            Wird eine Nachricht an mehrere Empfänger versendet. So füllt das PRM diese Felder automatisch aus.</li>
        </li>
        <li>Vordefinierte Textbausteine können ähnlich wie Systemkontextfelder in eine Nachricht eingefügt werden. Der Wert des Textbausteins ist durch den Benutzer definiert</li>
        <li>Wird eine Veranstaltung mit der Email verknüpft, so wählt das PRM alle Teilnehmer der Veranstaltung als Empfänger aus.</li>
        <li>Wird eine Veranstaltung mit der Email verknüpft ist es möglich über die Systemkontextfelder ein Einladungslink einzufügen.
            Dieser Link ist für jeden Empfänger einmalig und lässt ihn seine Teilnahme an der Veranstaltung beantworten.</li>
        </li>
    </ul>
    <img src="{% static 'changelogs/images/email-invitation.png' %}" alt="image:invitation"
    style="border: 3px solid #0d6efd;">
    <ul>
        <li>Können Systemkontextfelder nicht ausgefüllt werden, so wird dies vom PRM mitgeteilt und diese können einzeln überarbeitet werden.</li>
        <li>Für das Versenden der Email, müssen alle Empfänger eine Emailadresse im PRM gespeichert haben</li>
    </ul>
    <hr>
</article>
{% include 'changelogs/changelog_pagination.html' with v0_4_0="active" %}
<p></p>
{% endblock %}