{% load i18n %}

<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modal_title }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ modal_body }}</p>
            </div>
            <div class="modal-footer">
                {% if invitation %}
                    <form action="{% url 'events:participation-invite-all' event_pk %}" method="post">
                {% elif signed_up %}
                    <form action="{% url 'events:participation-sign-up-all' event_pk %}" method="post">
                {% else %}
                    <form action="{% url 'events:participation-participate-all' event_pk %}" method="post">
                {% endif %}
                        {% csrf_token %}
                        <button type="submit" onclick="closeModal()" class="btn btn-primary">{% trans 'Yes' %}</button>
                    </form>
                <button type="button" class="btn btn-primary" onclick="closeModal()">{% trans 'No' %}</button>
            </div>
        </div>
    </div>
</div>