{% load i18n %}
{% load accreditation_crit_checkmark %}
{% with criteria=accreditation.accreditation_criteria_dict %}

<h4 class="display-7">
    {{ accreditation }}
    <a href="{% url 'accreditations:edit-checklist' accreditation.id %}" id="id_edit_checklist">
        <i class="fa fa-edit"></i>
    </a>
</h4> 
<div class="row">
    <div class="col">
        <table class="table table-sm mb-0">
            <tbody>
                <tr class="table-secondary border">
                    <th colspan="2">
                        {% trans 'Checklist' %}
                        <span class="float-end">{% trans 'Status' %}</span>
                    </th>
                </tr>

                {% for attribute in accreditation.accreditation_type.accreditationattribute_set.all %}
                {% if attribute.name == "OPERATES_UNTIL" %}
                <tr>
                    <th>{{ attribute|get_display_name }} {{ accreditation.practice_has_to_operate_until }}</th>
                    <td class="align-middle">{{ criteria|get_value:attribute|checkmark }}</td>
                </tr>
                {% elif attribute.name == "PARTICIPATED_IN_EVENTS" %}
                <tr>
                    <th>{{ attribute|get_display_name }}</th>
                    <td>
                        <table class="table table-sm">
                        {% with events=criteria|get_value:attribute %}
                        {% for event, participated in events.items %}
                        <tr> 
                            <th>
                                <a href="{% url 'events:detail' event.id %}">
                                {{ event.title }}
                                </a>
                            </th>
                            <td class="align-middle">{{ participated|checkmark }}</td>
                        </tr>
                        {% endfor %}
                        {% endwith %}
                        </table>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <th>{{ attribute|get_display_name }}</th>
                    <td class="align-middle">{{ criteria|get_value:attribute|checkmark }}</td>
                </tr>
                {% endif %}
                {% empty %}
                <tr>
                    <th>{% trans 'No accreditation attributes have been defined for the checklist yet' %}</th>
                </tr>
                {% endfor %}

{% comment %}                 

                {% if attributes|length_is:"0" %}
                <tr>
                    <th>{% trans 'No accreditation attributes have been defined for the checklist yet' %}</th>
                </tr>
                {% else %}
                    {% for attribute, value in attr_dict.items %}
                        <tr>
                            <th>{{ attribute }}</th>
                            <td>{{ value|checkmark }}</td>
                        </tr>
                    {% endfor %}
                    {% if OPERATES_UNTIL %}
                        {% for label, value in OPERATES_UNTIL.items %}
                        <tr>
                            <th>{{ label }} {{ accreditation.practice_has_to_operate_until }}</th>
                            <td>{{ value|checkmark }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    {% if PARTICIPATED_IN_EVENTS %}
                        {% for event_label, events_dic in PARTICIPATED_IN_EVENTS.items %}
                            <tr>
                                <th>{{ event_label }}</th>
                                <td>
                                    <table class="table table-sm">
                                    {% for event, participated in events_dic.items %}
                                    <tr> 
                                        <th>{{ event }}</th>
                                        <td>{{ participated|checkmark }}</td>
                                    </tr>
                                    {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %} {% endcomment %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">     
    {% include 'practices/accreditations/_is_accredited.html' %}
    </div>
</div>
{% endwith %}