{% extends 'practices/practice_base.html' %}
{% load i18n %}

{% block custom_css %}
{% endblock %}

{% block practice-content %}
    <div class="row">
        <div class="col-sm">
            <h3 class="display-6">
                {% trans 'Accreditations' %}
                <a href="{% url 'practices:accreditation-add' practice.id %}" id="id_new_accreditation_button">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            {% for accreditation in practice.accreditations.all %}
                <div class="mb-3">
                {% include "practices/accreditations/checklist.html" %}
                </div>
            {% empty %}
                {% trans 'No accreditations created yet' %}
            {% endfor %}
        </div> 
    </div>


    {% include 'practices/contract/detail.html' %}

{% endblock %}
