{% extends 'mails/tables/basic_email_list.html' %}
{% load i18n %}

{% block title %}
{% trans 'Templates' %}
<a href="{% url 'mail:emailtemplate-new' %}" id="id_new_email_template_button" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Create new email template' %}">
    <i class="fa fa-plus-circle"></i>
</a>
{% endblock %}

{% block info %}
<div class="border bg-light d-inline-block">
    <div class="row">
        <div class="col-md-auto">
            <p class="m-2"><i class="fa-solid fa-circle-info text-primary"></i>
        </div>
        <div class="col-md-auto">
            {% trans 'Here you create reusable email templates, for example, with a personal signature.' %}
            <br>
            {% trans 'If you do not want to use a template, navigate to Drafts in the sidebar.' %}
        </div>
    </div>
    </p>
</div>
{% endblock %}