{% extends 'mails/email-sidebar-left.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block custom_css %}
    {% include 'global/snippets/custom_table_css.html' %}
    {% include 'global/snippets/remove_underline_in_href.html' %}
{% endblock %}

{% block side_bar_top %}
{% include 'mails/snippets/email_object_sidebar.html' %}
{% endblock %}
{% block page_content %}
    <h3 class="display-6">
        {% trans 'Recipients' %}
    </h3>
    {% if not email_object.sent %}
    <h4>{% trans 'Emails are sent (Refresh page to see progress)' %}</h4>
    <div class="spinner-border" role="status" id="spinner">
        <span class="visually-hidden">Loading...</span>
    </div>
    {% endif %}
    {% if email_sending_error %}
    <i class="fa-solid text-danger fa-triangle-exclamation"></i><h4 class="text-danger">{{ email_object.sent_time }}: {% trans 'An error occurred while sending an email. Contact an administrator for more information' %}</h4>
    {% endif %}
    {% include "global/snippets/number_of_table_entries.html" %}
    {% render_table table %}
    <a class="btn btn-primary" href="{% url 'mail:emailobject-send-detail' email_object.id %}">{% trans 'View Email' %}</a>
{% endblock %}