{% extends 'mails/email-sidebar-left.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block custom_css %}
    {% include 'global/snippets/custom_table_css.html' %}
    {% include 'global/snippets/remove_underline_in_href.html' %}
{% endblock %}

{% block side_bar_top %}
{% include 'mails/snippets/email_object_sidebar.html' %}
{% endblock %}

{% block page_content %}
    <h3 class="display-6">
        {% trans 'Recipients' %}
        <a href="{% url 'mail:emailobject-recipients-add' email_object.id %}" title="{% trans 'Add recipient' %}">
            <i class="fa fa-plus-circle"></i>
        </a>
    </h3>
    {% if email_object.event %}
    <strong>{% trans 'Linked event' %}: <a href="{% url 'events:detail' email_object.event.id %}">{{ email_object.event.title }}</a></strong>
    {% endif %}
    {% include "global/snippets/number_of_table_entries.html" %}
    {% render_table table %}
    <a class="btn btn-primary" href="{% url 'mail:emailobject-detail' email_object.id %}">{% trans 'Edit Email' %}</a>
    {% if email_object.event %}
    <a class="btn btn-primary" href="{% url 'mail:emailobject-update-recipients' email_object.id %}">{% trans 'Update event participants' %}</a>
    {% endif %}
    {% if email_object.recipientgroup_set.all|length > 0 %}
    <hr>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bs-modal">{% trans 'Send email' %}</button>
    {% endif %}
    {% include "mails/email_object_modal.html" %}

{% endblock %}