{% extends "global/modals/confirm.html" %}
{% load i18n %}

{% block id %}confirmDeleteModal{% endblock %}
{% block title %}{% trans 'Confirm deletion process' %}{% endblock %}
{% block text %}
{% if linked_practices.count > 0 %}
    <strong>{% trans 'Deleting this process definition also deletes the linked processes with the practices. The following practices are linked:' %}</strong>
    <ul>
    {% for practice in linked_practices %}
        <li>{{ practice }}</li>
    {% endfor %}
    </ul><br>
{% endif %}
{% trans 'Are you sure you want to delete the data permanently? This operation cannot be undone.' %}
{% endblock %}

{% block confirm_label %}{% trans 'Delete' %}{% endblock %}
{% block confirm_icon %}<i class="fa fa-trash"></i>{% endblock %}
{% block confirm_classes %}btn-danger{% endblock %}