{% extends 'global/base.html' %}

{% load i18n %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load done_or_not_checkmark %}

{% block side_bar %}
    {% include 'processes/navbar.html' %}
{% endblock %}
{% block page_content %}
    <div {% include 'global/text_elements/page_heading_classes.html' %}>
        <h3 class="display-6">
            {% trans 'Add process to a practice' %}
            {% if "INSTANCIATION_ALLOWED" in actions %}
                <a href="{% url 'processes:definition-instantiate' process_definition.id %}">
                    <i class="fa fa-plus-circle"></i>
                </a>
            {% endif %}
        </h3>
        <div class="border bg-light d-inline-block">
            <p class="m-2"><i class="fa-solid fa-circle-info text-primary"></i>
            {% trans 'You can add a process to a practice. This allows the process to be edited separately in the practice view. This also allows you to filter practices by process steps.' %}
            </p>
        </div>
    </div>

    <div class="row mt-4">
        {% render_table table %}
    </div>

{% endblock %}
