{% load i18n %}
{% load crispy_forms_filters %}
{% load safe_urlize %}

<div class="row">
    <div class="col-sm">
        <dt>{% trans 'Steps' %}</dt>
        <dd>
            {% if step_definitions %}
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>{% trans '#' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Description' %}</th>
                        <th style="width: 15%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for step_def in step_definitions %}
                        <tr>
                            <th>{{ step_def.position_index }}  </th>
                            <td>{{ step_def.name }}</td>
                            <td>{{ step_def.description|safe_urlize|linebreaksbr }}</td>
                            <td>
                                <span class="float-end">
                                {% if "EDIT_ALLOWED" in actions %}
                                    <form action="{% url 'processes:step-definition-move-up' step_def.id %}"
                                            method="post" style="margin: 0; padding: 0; display:inline;">
                                        {% csrf_token %}
                                        <button class="btn btn-sm btn-outline-secondary text-nowrap"
                                                type="submit"
                                                name="up">
                                            <i class="fas fa-arrow-down"></i>
                                        </button>
                                    </form>

                                    <form action="{% url 'processes:step-definition-move-down' step_def.id %}"
                                            method="post" style="margin: 0; padding: 0; display:inline;">
                                        {% csrf_token %}
                                        <button class="btn btn-sm btn-outline-secondary text-nowrap"
                                                type="submit"
                                                name="down">
                                            <i class="fas fa-arrow-up"></i>
                                        </button>
                                    </form>

                                    <a href="{% url 'processes:step-definition-update' step_def.id %}"
                                        class="btn btn-sm btn-outline-primary text-nowrap">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{% url 'processes:step-definition-delete' step_def.id %}"
                                        class="btn btn-sm btn-outline-danger text-nowrap">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% else %}
                {% trans 'No steps defined yet' %}<br>
            {% endif %}
            {% if "EDIT_ALLOWED" in actions %}
                <span class="float-end">
                    <a class="btn btn-sm btn-outline-primary text-nowrap"
                        href="{% url 'processes:step-definition-add' process_definition.id %}">
                        <i class="fa fa-plus-circle"></i> {% trans 'Add Step' %}
                    </a>
                </span>
            {% endif %}
        </dd>
    </div>
</div>