{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}

{% block custom_css %}
<link href="{% static 'django_ckeditor_5/dist/styles.css' %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block pre_script %}
<script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
{% endblock %}

{% block page_content %}
{% block form_title %}
<h2 id="id_form_header">{% trans 'Sent test email to admins' %}</h2>
{% endblock %}
<form method="post" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.from_email|as_crispy_field }}
    {{ form.reply_to|as_crispy_field }} 
    {{ form.subject|as_crispy_field }}
    {{ form.context_message.label_tag }}<br>
    {{ form.context_message }}
    {{ form.attachements|as_crispy_field }}

    <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Send to admins' %} </button>
</form>
{% endblock %}