{% extends 'mails/email-sidebar-left.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}

{% block custom_css %}
<link href="{% static 'django_ckeditor_5/dist/styles.css' %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block pre_script %}
<script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
{% endblock %}

{% block page_content %}
{% block form_title %}
<h2 id="id_form_header">{{ form.instance }}</h2>
{% endblock %}
<form method="post" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}

    {% block form_fields_top %}
    {% endblock %}
    
    {{ form.subject|as_crispy_field }}
    {{ form.context_message.label_tag }}<br>
    <strong style="color:red;">
        {{ form.context_message.errors }}
    </strong>
    {{ form.context_message }}
    <div id="context_markers" open="{{ context_marker_open }}" close="{{ context_marker_close }}" >
        <div class="row">
            <div class="col-3">
                {{ form.internal_context_fields|as_crispy_field }}
            </div>
            <div class="col-3 align-self-end mb-3">
                <button type="button" class="btn btn-primary" onclick="addContextField('id_context_fields')">{% trans 'Insert system context field'%}</button>
            </div>
            <div class="col-3 align-self-center">
                <strong>{% trans 'Insertion value' %}:</strong><p id="context_field_name"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {{ form.custom_context_texts|as_crispy_field }}
            </div>
            <div class="col-3 align-self-end mb-3">
                <button type="button" class="btn btn-primary" onclick="addContextField('id_context_texts')">{% trans 'Insert text module' %}</button>
            </div>
            <div class="col-3 align-self-center">
                <strong>{% trans 'Insertion value' %}:</strong><p id="context_text_name"></p>
            </div>
        </div>
    </div>
    {{ form.attachements|as_crispy_field }}

    {% block form_fields_bottom %}
    {% endblock %}

    {% include 'global/buttons/back_to_previous_site_button.html' %}
    <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
</form>


{% endblock %}
{% block custom_script %}
<script>
    //On load prefill the placeholder field with the selected value
    document.addEventListener("DOMContentLoaded", setContextValue('id_context_fields'));
    document.addEventListener("DOMContentLoaded", setContextValue('id_context_texts'));

    //Puts the selected value into the message field at the current cursor position
    function addContextField(selection_id) {
        var selected_value = getSelectedValueWithMarkers(selection_id);
        if (selection_id == "id_context_texts") {
            selected_value = document.getElementById(selection_id).value;
        }

        editor = window.editors[0] // It took some time to find out that django_ckeditor_5 is loaded here
        editor.editing.view.focus();
        editor.model.change( writer => {
            editor.model.insertContent( writer.createText( selected_value ) );
            });
    };

    //Sets the selected value into the placeholder field
    function setContextValue(selection_id) {
        var text = getSelectedValueWithMarkers(selection_id);
        // Get the element that will display the content
        if (selection_id == "id_context_texts") {
            text = document.getElementById(selection_id).value;
            var contentDiv = document.getElementById("context_text_name");
        }
        if (selection_id == "id_context_fields") {
            var contentDiv = document.getElementById("context_field_name");
        }
        contentDiv.innerHTML = text;
    };

    function getSelectedValueWithMarkers(selection_id) {
        var marker_open = document.getElementById("context_markers").getAttribute("open") + " ";
        var marker_close = " " + document.getElementById("context_markers").getAttribute("close");
        // Get the selected option
        var selectedOption = document.getElementById(selection_id);
        return marker_open + selectedOption.options[selectedOption.selectedIndex].text + marker_close;    
    }

</script>
{% endblock %}