{% extends 'mails/email-sidebar-left.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block custom_css %}
{% include 'global/snippets/remove_underline_in_href.html' %}
{% endblock %}
{% block page_content %}
<div class="col-sm mb-3">

    <h3 class="display-6">
        {% trans 'Add recipient for' %} {{ email_object.subject }}
    </h3>
</div>
<div class="row">
    <div class="col-sm mb-3">
        {% crispy filter.form filter.form.helper %}
        <form method="post" autocomplete="off" class="checkbox-list">
            {% csrf_token %}
            {% if form %}
                {{ form|crispy }}
            {% endif %}

            {% include "global/snippets/number_of_table_entries.html" %}
            {% include "global/js/checkbox_list.html" %}
            {% render_table table %}
    
            <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">{% trans 'Back' %}</a>
            <button type="submit" class="btn btn-primary" id="id_generic_save_button">
                {% block submit_text %}
                {% trans 'Add' %} 
                {% endblock submit_text %}
            </button>
        </form>
    </div>
</div>
{% endblock %}