{% extends 'mails/forms/basic_email_form.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load filename %}

{% block form_title %}
<div class="row">
    <div class="col-md-auto">
        <h2 id="id_form_header">{{ form.instance }}</h2>
    </div>
    <div class="col-md-auto">
        {% if email_template.id is not None %}
        <a class="btn btn-outline-success" href="{% url 'mail:emailtemplate-use-for-email' email_template.id %}">
            <i class="fa-solid fa-envelope"></i> {% trans 'Use for new email' %}
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block form_fields_top %}
{{ form.template_name|as_crispy_field }}
{% endblock %}

{% block form_fields_bottom %}
{% for attachement in email_template.emailtemplateattachement_set.all %}
{% if attachement.file %}
<div class="row">
    <div class="col-md-auto">
        <strong>{% trans 'Attachement' %} {{ forloop.counter }}:</strong>
        <a href="{% url 'mail:template-attachement-download' email_template.id attachement.id %}">{{ attachement.file|filename }}</a>
    </div>
    <div class="col-md-auto">
        <a {% include 'global/buttons/sidebar_controls/delete_classes.html' %}
            href="{% url 'mail:template-attachement-delete' attachement.id %}">
            <i class="fa fa-trash"></i> {% trans 'Delete attachement' %}
        </a>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}