{% extends 'practices/practice_base.html' %}
{% load i18n %}

{% block custom_css %}
{% endblock %}

{% block practice-content %}
    <h3 class="display-6">
        {% trans 'Documents' %}
        <a href="{% url 'practices:document-create' practice.id %}">
            <i class="fa fa-plus-circle"></i>
        </a>
    </h3>
    {% for document in page_obj %}

        <table class="table table-sm table-borderless">
            <tbody>

            <tr class="table-primary">
                <td>
                    <span>
                        {% trans 'Document' %} #{{ document.id }}
                    </span>
                    <span class="float-end">
                            {% trans 'Created at' %} {{ document.created_at }} {% trans 'by' %} {{ document.uploaded_by }}
                            <a href="{% url 'documents:edit' document.id %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{% url 'documents:delete' document.id %}" class="text-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="{% url 'documents:download' document.id %}">
                                {% trans 'Download file' %}
                            </a>
                        </div>
                        <div class="col-sm">
                            <strong>{{ document.title }}</strong><br>
                            {{ document.description }}
                        </div>

                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    {% endfor %}

    {% include 'global/snippets/pagination.html' %}
{% endblock %}
