{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block side_bar %}
    {% include 'practices/practice_tabs.html' %}
{% endblock %}
{% block page_content %}
    <h2>{{ form.instance }} - {% trans 'Disease Management Programs' %}</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ management_form }}
        {% for dmp_entry, dmp_form in dmp_entries_and_formset %}
            <strong>{{ dmp_entry.type.name }}</strong>
            {{ dmp_form|crispy}}
            <hr>
        {% endfor %}
        <button type="submit" class="btn btn-primary" name='save' id="id_generic_save_button">{% trans 'Save' %} </button>
        <button type="submit" class="btn btn-primary" name='save_and_continue' id="id_generic_save_and_continue_button">{% trans 'Save and continue' %} </button></br>   
        {% include 'practices/practice_structure/practice_back_to_structure_data.html' %}</br></br>    
    </form>
{% endblock %}
