{% load i18n %}


<h3 class="display-6">
    {% trans 'IT Infrastructure Notes' %}
</h3>
<form method="post" autocomplete="off" style="height:85%">
    {% csrf_token %}
    <textarea name="it_notepad" class="textarea form-control" id="id_notepad" rows="30"
              style="height: 100%; font-family: monospace;">{{ form.it_notepad.value }}</textarea>
    <br>
    <button type="submit" class="btn btn-primary float-end">{% trans 'Save notepad' %} </button>
</form>
