{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Patient Data Management System' %}
            <a href="{% url 'practices:it-pdms-edit' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <p class="card-text">
        <table class="table table-sm table-hover">
            <tbody>

            <tr>
                <th>{{ practice|verbose:"it_pdms_software" }}</th>
                <td class="text-end">
                    {{ practice.it_pdms_software }}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_epa_used_for_medical_documentation" }}</th>
                <td class="text-end">
                    {{ practice.get_it_epa_used_for_medical_documentation_display }}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_pdms_connected_to_medical_devices" }}</th>
                <td class="text-end">
                    {{ practice.get_it_pdms_connected_to_medical_devices_display }}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_checked_for_interoperability_interfaces" }}</th>
                <td class="text-end">
                    {{ practice.get_it_checked_for_interoperability_interfaces_display }}
                </td>
            </tr>

            </tbody>
        </table>
        </p>
    </div>
</div>