{% extends 'global/base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}

    <br><br><br>
    <div class="mx-auto" style="width: 480px;">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
        <button type="submit" class="btn btn-outline-primary w-100">{% trans 'Login' %} </button>
        </form>
    </div>
{% endblock %}
