{% extends 'global/base.html' %}
{% load i18n %}

{% block page_content %}
    {% if user.is_authenticated %}
        <h3 class="display-6">
            {% trans 'User Profile' %}

        </h3>

        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                <th>{% trans 'Username' %}</th>
                <td class="text-end">
                    {{ request.user.username }}
                </td>
                <td class="text-end">
                </td>
            </tr>
            
            <tr>
                <th>{% trans 'Institute' %}</th>
                <td class="text-end">
                    {{ request.user.assigned_institute }}
                </td>
                <td class="text-end">

                </td>
            </tr>
            
            <tr>
                <th>Password</th>
                <td class="text-end">
                    *****
                </td>
                <td class="text-end">
                    <a href="{% url 'users:change-password' %}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <th>{% trans 'Personal data' %}</th>
                <td class="text-end">
                    {{ request.user.medical_title }} {{ request.user.first_name }} {{ request.user.last_name }}
                    {% if request.user.email %}<br>{{ request.user.email }}{% endif %}
                    {% if request.user.phone_number %}<br>{{ request.user.phone_number }}{% endif %}
                </td>
                <td class="text-end">
                    <a href="{% url 'users:user-update' request.user.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    {% endif %}
{% endblock %}