{% extends 'studies/study_base.html' %}
{% load i18n %}
{% load django_tables2 crispy_forms_tags %}

{% block study_content %}
    <h3>
        {% trans 'Participating people' %}
    </h3>

    <div class="row mt-3">
        <div class="col-sm">
            {% crispy filter.form %}

            <ul class="nav nav-tabs" id="participant-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="all-tab" type="button" role="tab" 
                            data-bs-toggle="tab" data-bs-target="#all-participants" 
                            aria-controls="all-participants" aria-selected="true">
                        {% trans "All" %}
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="invitation-tab" type="button" role="tab" 
                            data-bs-toggle="tab" data-bs-target="#invited-participants" 
                            aria-controls="invited-participants" aria-selected="true">
                        {% trans "Invitations" %}
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="participating-tab" type="button" role="tab" 
                            data-bs-toggle="tab" data-bs-target="#confirmed-participants" 
                            aria-controls="confirmed-participants" aria-selected="true">
                        {% trans "Confirmations" %}
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="participant-tabs-content">
                <div class="tab-pane" id="all-participants" role="tabpanel" aria-labelledby="all-tab">
                    {% include "global/snippets/number_of_table_entries.html" with table=tables.all%}
                    {% render_table tables.all %}
                </div>
                <div class="tab-pane" id="invited-participants" role="tabpanel" aria-labelledby="invitation-tab">
                    {% include "global/snippets/number_of_table_entries.html" with table=tables.others %}
                    {% render_table tables.others %}
                </div>
                <div class="tab-pane" id="confirmed-participants" role="tabpanel" aria-labelledby="participating-tab">
                    {% include "global/snippets/number_of_table_entries.html" with table=tables.participants %}
                    {% render_table tables.participants %}
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        // When the page is loaded, the last selected tab is activated.
        let lastTabId = localStorage.getItem('studyLastTab') || "all-tab";
        let lastTab = $('#' + lastTabId);
        lastTab.addClass('active');

        // This activates the content of the tab.
        let tabTarget = lastTab.data('bs-target');
        if (tabTarget) {
            $(tabTarget).addClass('show active')
        }

        // When a tab is clicked, its ID is saved in local storage.
        $('#participant-tabs .nav-link').click(function() {
            let tabId = $(this).attr('id');
            localStorage.setItem('studyLastTab', tabId);
        });
    });
    </script>
{% endblock %}
