{% extends 'practices/practice_base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load done_or_not_checkmark %}

{% block practice-content %}
    <div class="row">
        <div class="col-sm">
            <h3 class="display-6">
                {% trans 'Study Participations' %}
                <a href="{% url 'practices:study-participation-create' practice.id %}">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </h3>
        </div>
    </div>

    {% for participation in page_obj %}

        <table class="table table-sm table-borderless">
            <tbody>

            <tr class="table-primary">
                <td>
                    <span>
                        <a href="{% url 'studies:detail' participation.study.pk %}">
                            {% trans 'Study Participation' %} {{ participation.study.title }}
                        </a>
                    </span>
                    <span class="float-end">
                            <a href="{% url 'studies:participation-delete' participation.pk %}" class="text-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>{% trans 'Type' %}:</strong> {{ participation.study.get_type_display }}<br>
                            <strong>{% trans 'Start' %}:</strong> {{ participation.study.start_date }}<br>
                            <strong>{% trans 'End' %}:</strong> {{ participation.study.end_date }}<br>
                            <a href="{% url 'studies:participation-add-person' participation.id %}"
                               class="btn btn-sm btn-outline-primary text-nowrap">
                                <i class="fa fa-plus-circle"></i> {% trans 'Add Person' %}
                            </a>
                        </div>
                        <div class="col-sm">
                            {% if participation.person_participations.exists %}
                                <table class="table table-sm table-hover w-100">
                                    <thead>
                                        <th>{% trans 'Person' %}</th>
                                        <th>{% trans 'Invitation sent' %}</th>
                                        <th>{% trans 'Registration status' %}</th>
                                        <th>{% trans 'Has participated' %}</th>
                                        <th></th>
                                    </thead>
                                    <tbody>

                                    {% for participating_person in participation.person_participations.all %}
                                        <tr>
                                            <td>{{ participating_person.person.full_name_with_title }}</td>
                                            <td>
                                                {{ participating_person.invitation_sent|doneornot }}<br>
                                                {{ participating_person.invitation_sent_at|date:"SHORT_DATE_FORMAT" }}
                                            </td>
                                            <td>
                                                {{ participating_person.get_has_signed_up_display }}
                                            </td>
                                            <td>
                                                {{ participating_person.has_participated|doneornot }}
                                            </td>
                                            <td>
                                                <a href="{% url 'studies:participation-edit-person' participation.id participating_person.id %}"
                                                   class="btn btn-sm btn-outline-primary text-nowrap">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <form action="{% url 'studies:participation-delete-person' participation.id participating_person.id %}"
                                                      method="post" style="margin: 0; padding: 0; display:inline;">
                                                    {% csrf_token %}
                                                    <button class="btn btn-sm btn-outline-danger"
                                                            type="submit" name="removePerson">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>

                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    {% endfor %}


    {% include 'global/snippets/pagination.html' %}
{% endblock %}
