{% extends 'global/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block custom_css %}
    {% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

{% block page_content %}
    <h3 class="display-6">
        {% trans 'Research Studies' %}
        <a href="{% url 'studies:create' %}" id="id_new_study_button" title="{% trans 'Add Study' %}">
            <i class="fa fa-plus-circle"></i>
        </a>
    </h3>

    {% include "global/snippets/number_of_table_entries.html" %}
    {% render_table table %}

{% endblock %}