{% extends 'importer/tables/base_import_table.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Import history' %}
{% endblock %}

{% block after_table %}
<div class="row">
    <div class="col-sm mb-3">
        {% csrf_token %}
        <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">{% trans 'Go back' %}</a>
    </div>
</div>
{% endblock %}
