{% extends 'importer/import-sidebar-left.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block custom_css %}
    {% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

{% block page_content %}
    <h3 class="display-6">
        {% trans 'Mapper' %}
        <a href="{% url 'importer:mapper-new' %}" title="{% trans 'Create new Mapper' %}">
            <i class="fa fa-plus-circle"></i>
        </a>
    </h3>
    {% render_table table %}
    {% block bottom_content %}
    {% endblock %}
{% endblock %}
