{% load i18n %}
{% load truncate %}
<nav class="navbar navbar-expand-lg navbar-light">
    
    <ul class="nav flex-column w-100">
        <a href="{% url 'practices:detail' practice.id %}" style="text-decoration: none;" id="id_practice_home_button">
            <p class="navbar-text p-2 text-wrap bg-white text-dark border rounded border-dark shadow lh-1">
                <strong>{{ practice.name | truncatemultiline:20 }}</strong><br>
            </p>
        </a>
        <div><strong>{% trans 'Basic data' %}</strong></div>
        <div>
            {% url 'practices:detail' practice.id as detail_url %}
            <a class="{% include 'practices/practice_navbar_item.html' %}{% if request.path == detail_url %} active {% endif %}"
                    href="{{ detail_url }}">
                <i class="fas fa-clinic-medical fa-fw"></i> {% trans 'Base Data' %}
            </a>
        </div>
        <div>
            {% url 'practices:structure-detail' practice.id as structure_detail_url %}
            <a class="{% include 'practices/practice_navbar_item.html' %}{% if request.path == structure_detail_url %} active {% endif %}"
                    href="{{ structure_detail_url }}">
                <i class="fas fa-info-circle fa-fw"></i> {% trans 'Structural Data' %}
            </a>
        </div>
        <div>
            {% url 'practices:it-detail' practice.id as it_detail_url %}
            <a class="{% include 'practices/practice_navbar_item.html' %}{% if request.path == it_detail_url %} active {% endif %}"
                    href="{{ it_detail_url }}">
                <i class="fas fa-network-wired fa-fw"></i> {% trans 'IT Infrastructure' %}
            </a>
        </div>
        <div>
            {% url 'practices:communication-detail' practice.id as communication_detail_url %}
            <a class="{% include 'practices/practice_navbar_item.html' %}{% if request.path == communication_detail_url %} active {% endif %}"
                    href="{{ communication_detail_url }}">
                <i class="fas fa-comments fa-fw"></i> {% trans 'Communication' %}
            </a>
        </div>

        <div class="mt-2"><strong>{% trans 'Person data' %}</strong></div>
        <div>
            {% url 'practices:persons' practice.id as persons_url %}
            <a class="{% include 'practices/practice_navbar_item.html' %}{% if request.path == persons_url %} active {% endif %}"
                    href="{{ persons_url }}"
                    id="id_practice_persons_button">
                <i class="fas fa-user-friends fa-fw"></i> {% trans 'Persons' %}</a>
            </a>
        </div>
        <div class="btn-group dropend mb-2">
            {% url 'practices:tandem-doctor-detail' practice.id as tandem_doctor_detail_url %}
            {% url 'practices:tandem-assistant-detail' practice.id as tandem_assistant_detail_url %}
            <button type="button" class="btn btn-outline-primary dropdown-toggle border text-start {% if request.path == tandem_doctor_detail_url or request.path == tandem_assistant_detail_url  %} active {% endif %}"
            data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fas fa-people-carry fa-fw"></i> {% trans 'Research Tandem' %}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ tandem_doctor_detail_url }}">
                    {% trans 'Doctor' %}</a>
                </li>
                <li><a class="dropdown-item" href="{{ tandem_assistant_detail_url }}">
                    {% trans 'Assistant' %}</a>
                </li>
            </ul>
        </div>

        <div class="mt-2"><strong>{% trans 'Information' %}</strong></div>
        <div class="btn-group dropend mb-2">
            {% url 'practices:edit-notepad' practice.id as edit_notepad_url %}
            {% url 'practices:document-list' practice.id as document_list_url %}
            {% url 'practices:contactnote-list' practice.id as contactnote_list_url %}
            <button type="button" class="btn btn-outline-primary dropdown-toggle border text-start
             {% if request.path == document_list_url or request.path == edit_notepad_url or request.path == contactnote_list_url %} active {% endif %}"
            data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa-solid fa-book"></i> {% trans 'Documentation' %}
            </button>
            <ul class="dropdown-menu">
                <li>            
                    <a class="dropdown-item" href="{{ document_list_url }}"><i class="fas fa-file-alt fa-fw"></i> {% trans 'Documents' %}</a>
                </li>
                <li>            
                    <a class="dropdown-item" href="{{ contactnote_list_url }}"><i class="fas fa-comments fa-fw"></i> {% trans 'Contact notes' %}</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ edit_notepad_url }}"><i class="fas fa-sticky-note fa-fw"></i> {% trans 'Notepad' %}</a>
                </li>
            </ul>
        </div>

        <div class="btn-group dropend mb-2">
            {% url 'practices:event-participation-list' practice.id as event_participation_list_url %}
            {% url 'practices:todo-list' practice.id as todo_list_url %}
            {% url 'practices:study-participation-list' practice.id as study_participation_list_url %}
            <button type="button" class="btn btn-outline-primary dropdown-toggle border text-start
             {% if request.path == event_participation_list_url or request.path == todo_list_url %} active {% endif %}"
            data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-clipboard"></i> {% trans 'Organization' %}
            </button>
            <ul class="dropdown-menu">
                <li>            
                    <a class="dropdown-item" href="{{ event_participation_list_url }}"><i class="fas fa-calendar-day fa-fw"></i> {% trans 'Events' %}</a>
                </li>
                <li>            
                    <a class="dropdown-item" href="{{ study_participation_list_url }}"><i class="fas fa-microscope fa-fw"></i> {% trans 'Studies' %}</a>
                </li>
                <li>            
                    <a class="dropdown-item" href="{{ todo_list_url }}"><i class="fas fa-tasks fa-fw"></i> {% trans 'ToDos' %}</a>
                </li>
            </ul>
        </div>

        <div>
            {% url 'practices:accreditations' practice.id as accreditations_url %}
            <a class="{% include 'practices/practice_navbar_item.html' %}{% if request.path == accreditations_url %} active {% endif %}"
                    href="{{ accreditations_url }}">
            <i class="fas fa-certificate fa-fw"></i> {% trans 'Accreditation' %}
            </a>
        </div>
        <div>
            {% url 'practices:process-list' practice.id as process_list_url %}
            <a class="{% include 'practices/practice_navbar_item.html' %}{% if request.path == process_list_url %} active {% endif %}"
                    href="{{ process_list_url }}">
                <i class="fas fa-cogs fa-fw"></i> 
                {% trans 'Processes' %}
                {% if practice.overdue_processes.exists %}
                <i class="fas fa-circle-exclamation fa-beat text-warning ms-auto"></i>
                {% endif %}
            </a>
        </div>
        <div>
        {% url 'practices:allowed-institutes' practice.id as allowed_institutes_url %}
        <a class="{% include 'practices/practice_navbar_item.html' %}{% if request.path == allowed_institutes_url %} active {% endif %}"
                href="{{ allowed_institutes_url }}"
                id="id_practice_allowed_institutes_button">
        <i class="fas fa-key fa-fw"></i> {% trans 'Practice Access' %}</a>
        </a>
        </div>
    </ul>
</nav>