{% extends 'feedback/feedback-sidebar-left.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load filename %}

{% block page_content %}
    <h2 id="id_form_header">{{ form.instance }}</h2>
    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {% if object.file %}     
            {% include "global/snippets/single_downloadable_file.html" with file=object.file %}
        {% endif %}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
    </form>
{% endblock %}