{% extends 'feedback/feedback-sidebar-left.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block custom_css %}
{% include 'global/snippets/remove_underline_in_href.html' %}
{% endblock %}

{% block page_content %}
<div class="mb-5">
    {% for workflow in object_list %}
    <h4 class="mt-3">{{ workflow.topic }} </h4>
    <div>
        <div>
            {% for workflowstep in workflow.workflowstep_set.all|dictsort:"number" %}
                <div class="row mt-1">
                    <div class="col-md-4">{{ workflowstep.number }}. {{ workflowstep.name }}</div>
                    <div class="col-md-8">
                    {% if workflowstep.id in steps_done %}
                        <i class="fa fa-check-circle text-success"></i><a href="{% url 'feedback:workflowstepdone' workflowstep.id %}"> {% trans 'Mark as not done' %}</a>
                    {% else %}
                        <i class="fa fa-times-circle text-danger"></i><a href="{% url 'feedback:workflowstepdone' workflowstep.id %}"> {% trans 'Mark as done' %}</a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% include 'global/snippets/pagination.html' %}
{% endblock %}
