{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Disease Management Programs' %}
            <a href="{% url 'practices:dmp-entry-edit' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <table class="table table-sm table-hover">
            <tbody>
            {% for entry in practice.disease_management_programs.all %}
                <tr>
                    <td>{{ entry.type.name }}</td>
                    <td class="text-end">
                        {{ entry.get_status_display }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

