{% load i18n %}
{% load fields_verbose_name %}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'General' %}
            <a href="{% url 'practices:structure-general-edit' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>

        <p class="card-text">
        <table class="table table-sm table-hover">

            <tbody>

            <tr>
                <th>{{ practice|verbose:"structure_practice_type" }}</th>
                <td class="text-end">{{ practice.structure_practice_type }}</td>
            </tr>

            <tr>
                <th>{{ practice|verbose:"structure_urbanisation_level" }}</th>
                <td class="text-end">{{ practice.structure_urbanisation_level }}</td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"structure_practice_operating_until" }}</th>
                {% if practice.structure_practice_operating_until %}
                <td class="text-end">{{ practice.structure_practice_operating_until }}</td>
                {% else %}
                <td class="text-end">{% trans 'Unknown' %}</td>
                {% endif %}
            </tr>
            <tr>
                <th>{{ practice|verbose:"structure_full_care_mandate" }}</th>
                <td class="text-end">{{ practice.get_structure_full_care_mandate_display }}</td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"structure_bills_per_quarter" }}</th>
                <td class="text-end">{{ practice.get_structure_bills_per_quarter_display }}</td>
            </tr>

            <tr>
                <th>{{ practice|verbose:"structure_at_least_35_hours_openend" }}</th>
                <td class="text-end">{{ practice.get_structure_at_least_35_hours_openend_display }}</td>
            </tr>
            <tr>
                {% include 'practices/practice_structure/additional_functions.html' %}
            </tr>
            </tbody>
        </table>
        </p>
    </div>
</div>