{% extends 'practices/practice_base.html' %}
{% load i18n %}


{% block practice-content %}
    {% with practice.practicestructure as structure %}
        <div class="row">
            <div class="col-sm">
            <h3 class="display-6">
                    {% trans 'Structural Data' %}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        {% include 'practices/practice_structure/general.html' %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm">
                        {% include 'practices/practice_structure/services.html' %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm">
                        {% include 'practices/practice_structure/dmps.html' %}
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        {% include 'practices/practice_structure/doctors.html' %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm">
                        {% include 'practices/practice_structure/staff.html' %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm">
                        {% include 'practices/practice_structure/treatments_card.html' %}
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}