{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block side_bar %}
{% include 'practice_importer/overview-sidebar-left.html' %}
{% endblock %}

{% block page_content %}
    <h1>{% trans 'There is already an existing import.' %}</h1>
    <p>{% trans 'Last import time' %}: <b>{{ chunk_import.last_updated|date:"SHORT_DATE_FORMAT" }} {{ chunk_import.last_updated|date:"TIME_FORMAT" }}</b>, {% trans 'Import by' %} <b>{{ chunk_import.last_user }}</b></p>
    {% if chunk_import.file_name %}<p>{% trans 'File name' %}: <b>{{ chunk_import.file_name }}</b>.</p>{% endif %}<p>{% trans 'Number of imported objects' %}: <b>{{ chunk_import.current_chunk }}</b></p>
    <hr>
    <p>{% trans 'Do you want to continue the import or start a new import?' %}</p>
    {% include "global/modals/confirm.html" with confirm_url=new_import_url model_id="newImport" %}
    <a class="btn btn-warning" data-bs-toggle="modal", data-bs-target="#newImport">
        {% trans 'Start new import' %}
    </a>
    <a href="{{ continue_url }}" class="btn btn-primary">{% trans 'Continue existing import' %}</a>
{% endblock %}
