{% extends 'global/base.html' %}
{% load i18n %}

{% block side_bar %}
<ul class="nav flex-column w-100">

    {% block side_bar_top %}
    {% endblock %}
    
    {% url 'importer:import-preview' as basic_import %}
    {% url 'importer:mapper-list' as mapper %}
    
    <div class="d-flex flex-column align-items-end">
        <a class="btn btn-outline-primary w-100 mt-2 text-start {% if basic_import == request.path %} active {% endif %}" href="{{ basic_import }}">
            <i class="fas fa-info-circle fa-fw"></i> {% trans 'Importer' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-2 text-start {% if 'mapper' in request.path %} active {% endif %}" href="{{ mapper }}">
            <i class="fas fa-info-circle fa-fw"></i> {% trans 'Mapper' %}
        </a>
    </div>
      
    {% block side_bar_bottom %}
    {% endblock %}
</ul>
{% endblock %}