{% load i18n %}

<table class="table table-sm table-hover">
    <tbody>
        <th>{% trans 'Languages used for patient communication' %}</th>
        {% with practice.communicationspokenlanguages_set.all as spoken_languages %}
            {% if spoken_languages %}
                {% for spoken_language in spoken_languages %}
                    <tr>
                        <td>{{ spoken_language.com_spoken_language }}{% if spoken_language.com_spoken_language_percentage %},
                             {% trans 'Spoken by' %}: {{ spoken_language.com_spoken_language_percentage }}%
                        {% endif %}
                        </td>
                        <td class="text-end">
                            <a href="{% url 'practices:communication-spoken-language-percentage' spoken_language.id %}" class="text-decoration-none">
                                {% trans 'Edit percentage of spoken language' %} <i class="fa fa-edit"></i>
                            </a>
                            <a href="{% url 'practices:communication-spoken-language-delete' spoken_language.id %}" class="link-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td><a>{% trans 'No spoken language added yet.' %}</a></td>
                <td></td>
            </tr>
            {% endif %}
        {% endwith %}
    </tbody>
</table>