{% load i18n %}

<table class="table table-sm table-hover">
    <tbody>
        <th>{% trans 'Languages about which communication with an interpreter takes place' %}</th>
        {% with practice.communicationinterpreter_set.all as interpreter_languages %}
            {% if interpreter_languages %}
                {% for interpreter_language in interpreter_languages %}
                    <tr>
                        <td>{{ interpreter_language.com_interpreter_language }}{% if interpreter_language.com_number_of_patients %},
                             {% trans 'Number of patients about' %}: {{ interpreter_language.com_number_of_patients }}
                        {% endif %}
                        </td>
                        <td class="text-end">
                            <a href="{% url 'practices:communication-interpreter-amount' interpreter_language.id %}" class="text-decoration-none">
                                {% trans 'Edit number of patients affected' %} <i class="fa fa-edit"></i>
                            </a>
                            <a href="{% url 'practices:communication-interpreter-delete' interpreter_language.id %}" class="link-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td><a>{% trans 'No interpreter in practice.' %}</a></td>
                <td></td>
            </tr>
            {% endif %}
        {% endwith %}
    </tbody>
</table>