{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}

{% block custom_css %}
    <link href="{% static 'taggit_selectize/css/selectize.django.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block side_bar %}
    {% include 'practices/practice_tabs.html' with info="active" %}
{% endblock %}

{% block page_content %}
    <h2>{{ form.instance }}</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary" name='save' id="id_generic_save_button">{% trans 'Save' %} </button>
        <button type="submit" class="btn btn-primary" name='save_and_continue' id="id_generic_save_and_continue_button">{% trans 'Save and continue' %} </button></br></br>     
        {% include 'practices/base_data/practice_back_to_base_data.html' %}</br></br>     
    </form>
    <script>
        function is_active_cb_clicked(is_active_cb) {
          document.getElementById('id_inactive_note').disabled = is_active_cb.checked
        }
    </script>
{% endblock %}

{% block custom_script %}
    <script src="{% static 'taggit_selectize/js/selectize.js' %}"></script>
{% endblock %}