{% load i18n %}
{% load crispy_forms_filters %}


<form hx-post="{% url 'processes:step-mark-as-done' step.id %}" hx-target="#entry-{{ process.id }}" style="margin: 0; padding: 0;">
    {% csrf_token %}
    <button style="width: 15em;"
            class="btn btn-sm btn-outline-success"
            type="submit" name="markAsDone">
        <i class="far fa-check-circle"></i> {% trans 'Mark as done' %}
    </button>
</form>

