{% load i18n %}
{% load crispy_forms_filters %}


<form hx-post="{% url 'processes:step-reset' step.id %}" hx-target="#entry-{{ process.id }}" style="margin: 0; padding: 0; display:inline;">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-sm btn-outline-secondary" style="width: 15em;" type="submit" name="reset">
        <i class="fa fa-undo-alt"></i> {% trans 'Reset step' %}
    </button>
</form>

