body {
  background-image: url('background.jpg') !important;
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}


#header {
  background-image: url('hacker.jpg') !important;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

#site-name a {
  color: white !important;
}

h1 {
  color: white !important;
}

h2 {
  color: white !important;
}

p {
  color: white !important;
}

li {
  color: white !important;
}

.errornote {
  color: red !important;
}

.errorlist li {
  color: red !important;
}

code {
  color: white !important;
}
