{% extends 'persons/research_experience_base.html' %}
{% load i18n %}
{% load fields_verbose_name %}

{% block role_specific_block %}
<div class="mt-2">
    <table class="table table-sm table-hover">
        <tbody>
        <tr>
            <th>{{ assistant|verbose:"research_experience_year_of_last_project_participation" }}</th>
            <td class="text-end">
                {% if assistant.research_experience_year_of_last_project_participation %}
                    {{ assistant.research_experience_year_of_last_project_participation }}
                {% endif %}
                <a href="{% url 'persons:assistant-research-experience-last-year-edit' assistant.id %}">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}