{% load i18n %}
{% load fields_verbose_name %}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Additional Training' %}
            <a href="{% url 'persons:doctor-additional-trainings-add' doctor.id %}">
                <i class="fa fa-plus-circle"></i>
            </a>
        </h5>

        {% with doctor.additional_trainings.all as trainings %}
            {% if trainings %}
                <table class="table table-sm table-hover">
                    <tbody>
                    {% for t in trainings %}
                        <tr>
                            <td>{{ t.type }}</td>
                            <td>{{ t.get_status_display }}</td>
                            <td class="text-end">
                                <a href="{% url 'persons:doctor-additional-trainings-edit' t.id %}"
                                   class="text-decoration-none">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{% url 'persons:doctor-additional-trainings-delete' t.id %}" class="link-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                {% trans 'No additional trainings' %}
            {% endif %}
        {% endwith %}
    </div>
</div>