{% extends 'persons/person_detail.html' %}
{% load fields_verbose_name %}
{% load i18n %}

{% block side_bar %}
    {% include 'practices/practice_navbar.html' %}
{% endblock %}

{% block additonal_header %}

<div class="col-sm mb-3 text-end">
    <h5 class="display-9">{% trans 'Roles:' %} 
        {% for role in roles %}
            {{ role.label }} {% if not forloop.last %}|{% endif %}
        {% endfor %}
    </h5>
</div>

{% endblock %}

{% block role_content %}
    {% if 'DOCTOR' in roles %}
        {% with person.role_doctor as doctor %}
            {% include 'persons/doctor_detail.html' %}
        {% endwith %}
    {% endif %}
    {% if 'ASSISTANT' in roles %}
        {% with person.role_assistant as assistant %}
            {% include 'persons/assistant_detail.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}
    
{% block additional_side_bar_right %}
    {% if 'MAKE_OWNER' in actions %}
        <form action="{% url 'persons:make-owner' person.id %}" method="post">
            {% csrf_token %}
            <input {% include 'global/buttons/sidebar_controls/edit_classes.html' %}
                    id="id_make_owner_button"
                    type="submit" name="makeowner"
                    value="{% trans 'Add role OWNER' %}"/>
        </form>
    {% endif %}

    {% if 'REMOVE_OWNER' in actions %}
        <form action="{% url 'persons:remove-owner' person.id %}" method="post">
            {% csrf_token %}
            <input {% include 'global/buttons/sidebar_controls/delete_classes.html' %}
                    id="id_remove_owner_button"
                    type="submit"
                    name="removeowner"
                    value="{% trans 'Remove role OWNER' %}"/>
        </form>
    {% endif %}

    {% if 'MAKE_DOCTOR' in actions %}
        <form action="{% url 'persons:make-doctor' person.id %}" method="post">
            {% csrf_token %}
            <input {% include 'global/buttons/sidebar_controls/edit_classes.html' %}
                    id="id_make_doctor_button"
                    type="submit" name="makedoctor"
                    value="{% trans 'Add role DOCTOR' %}"/>
        </form>
    {% endif %}

    {% if 'REMOVE_DOCTOR' in actions %}
        <form action="{% url 'persons:remove-doctor' person.id %}" method="post">
            {% csrf_token %}
            <input {% include 'global/buttons/sidebar_controls/delete_classes.html' %}
                    onclick="return confirm('{% blocktranslate %}Delete role DOCTOR and associated data?{% endblocktranslate %}');"
                    id="id_remove_doctor_button"
                    type="submit"
                    name="removedoctor"
                    value="{% trans 'Remove role DOCTOR' %}"/>
        </form>
    {% endif %}

    {% if 'MAKE_ASSISTANT' in actions %}
        <form action="{% url 'persons:make-assistant' person.id %}" method="post">
            {% csrf_token %}
            <input {% include 'global/buttons/sidebar_controls/edit_classes.html' %}
                    id="id_make_assistant_button"
                    type="submit"
                    name="makeassistant"
                    value="{% trans 'Add role ASSISTANT' %}"/>
        </form>
    {% endif %}

    {% if 'REMOVE_ASSISTANT' in actions %}
        <form action="{% url 'persons:remove-assistant' person.id %}" method="post">
            {% csrf_token %}
            <input {% include 'global/buttons/sidebar_controls/delete_classes.html' %}
                    onclick="return confirm('{% blocktranslate %}Delete role ASSISTANT and associated data?{% endblocktranslate %}');"
                    id="id_remove_assistant_button"
                    type="submit" name="removeassistant"
                    value="{% trans 'Remove role ASSISTANT' %}"/>
        </form>
    {% endif %}

    {% if 'MAKE_TANDEM_ASSISTANT' in actions %}
        <form action="{% url 'persons:make-tandem-assistant' person.id %}" method="post">
            {% csrf_token %}
            <input {% include 'global/buttons/sidebar_controls/edit_classes.html' %}
                    id="id_make_tandem_assistant_button"
                    type="submit"
                    name="makeTandemAssistant"
                    value="{% trans 'Add role TANDEM ASSISTANT' %}"/>
        </form>
    {% endif %}

    {% if 'REMOVE_TANDEM_ASSISTANT' in actions %}
        <form action="{% url 'persons:remove-tandem-assistant' person.id %}" method="post">
            {% csrf_token %}
            <input {% include 'global/buttons/sidebar_controls/delete_classes.html' %}
                    id="id_remove_tandem_assistant_button"
                    type="submit" name="removeTandemAssistant"
                    value="{% trans 'Remove role TANDEM ASSISTANT' %}"/>
        </form>
    {% endif %}

    {% if 'MAKE_TANDEM_DOCTOR' in actions %}
        <form action="{% url 'persons:make-tandem-doctor' person.id %}" method="post">
            {% csrf_token %}
            <input {% include 'global/buttons/sidebar_controls/edit_classes.html' %}
                    id="id_make_tandem_doctor_button"
                    type="submit"
                    name="makeTandemDoctor"
                    value="{% trans 'Add role TANDEM DOCTOR' %}"/>
        </form>
    {% endif %}

    {% if 'REMOVE_TANDEM_DOCTOR' in actions %}
        <form action="{% url 'persons:remove-tandem-doctor' person.id %}" method="post">
            {% csrf_token %}
            <input {% include 'global/buttons/sidebar_controls/delete_classes.html' %}
                    id="id_remove_tandem_doctor_button"
                    type="submit" name="removeTandemDoctor"
                    value="{% trans 'Remove role TANDEM DOCTOR' %}"/>
        </form>
    {% endif %}
{% endblock %}