{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Research Experiences' %}
            <a href="{% url 'persons:research-experiences-add' person.id %}">
                <i class="fa fa-plus-circle"></i>
            </a>
        </h5>

        {% with person.research_experiences.all as experiences %}
            {% if experiences %}
                <table class="table table-sm table-hover">
                    <tbody>
                    {% for xp in experiences %}
                        <tr>
                            <td>{{ xp.type }}</td>
                            <td class="text-end">
                                <a href="{% url 'persons:research-experiences-edit' xp.id %}"
                                   class="text-decoration-none">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{% url 'persons:research-experiences-delete' xp.id %}"
                                   class="link-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                {% trans 'Has research experiences' %}: <strong>{{ person.get_involved_in_research_projects_display }}</strong>
            {% endif %}
        {% endwith %}
        {% block role_specific_block %}
        {% endblock %}
    </div>
</div>