{% extends 'practices/practice_base.html' %}
{% load i18n %}

{% block page_content %}
    <div class="row">
        <div class="col-sm">
            <h3 class="display-5">
                {% trans 'This tandem role is not defined yet!' %}
            </h3>
        </div>
    </div>
{% endblock %}
