{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Digital communication with patients' %}
            <a href="{% url 'practices:communication-digital-patients-edit' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                {% include 'practices/communication/with_patients/part_digital.html' %}
            </tr>
            </tbody>
        </table>
    </div>
</div>