{% extends 'practices/practice_base.html' %}
{% load i18n %}
{% load done_or_not_checkmark %}

{% block practice-content %}
    <h3 class="display-6">
        {% trans 'Event Participations' %}
        <a href="{% url 'practices:event-participation-create' practice.id %}">
            <i class="fa fa-plus-circle"></i>
        </a>
    </h3>
    {% for participation in page_obj %}

        <table class="table table-sm table-borderless">
            <tbody>

            <tr class="table-primary">
                <td>
                    <span>
                        {% trans 'Event Participation' %} {{ participation.id }}
                    </span>
                    <span class="float-end">
                            <a href="{% url 'events:participation-delete' participation.id %}" class="text-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="{% url 'events:detail' participation.event.id %}">
                                {% trans 'Event' %} {{ participation.event.id }}: {{ participation.event.title }}
                            </a><br>
                            {% if participation.event.fixed_dates %}
                            <strong>{% trans 'Fixed dates' %}:</strong><br>
                            {% else %}
                            <strong>{% trans 'Time period' %}:</strong><br>
                            {% endif %}
                            {% for date in participation.event.datemodel_set.all %}
                            <strong>{% trans 'Date' %}{{ forloop.counter }}:</strong> {{ date.date }}<br>
                            <strong>{% trans 'Time' %}:</strong> {{ date.start_time|time }} - {{ date.end_time|time }}<br><br>
                            {% endfor %}
                            <a href="{% url 'events:participation-add-person' participation.id %}"
                               class="btn btn-sm btn-outline-primary text-nowrap">
                                <i class="fa fa-plus-circle"></i> {% trans 'Add Person' %}
                            </a>
                        </div>
                        <div class="col-sm">
                            {% if participation.participatingperson_set.all %}
                                <table class="table table-sm table-hover w-100">
                                    <thead>
                                    <th>{% trans 'Person' %}</th>
                                    <th>{% trans 'Invitation sent' %}</th>
                                    <th>{% trans 'Has participated' %}</th>
                                    <th></th>
                                    </thead>
                                    <tbody>

                                    {% for participating_person in participation.participatingperson_set.all %}
                                        <tr>
                                            <td>{{ participating_person.person.full_name_with_title }}</td>
                                            <td>
                                                {{ participating_person.invitation_sent|doneornot }}<br>
                                                {{ participating_person.invitation_sent_at|date:"SHORT_DATE_FORMAT" }}
                                            </td>
                                            <td>
                                                {{ participating_person.has_participated|doneornot }}
                                            </td>
                                            <td>
                                                <a href="{% url 'events:participation-edit-person' participation.id participating_person.id %}"
                                                   class="btn btn-sm btn-outline-primary text-nowrap">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <form action="{% url 'events:participation-remove-person' participation.id participating_person.id %}"
                                                      method="post" style="margin: 0; padding: 0; display:inline;">
                                                    {% csrf_token %}
                                                    <button class="btn btn-sm btn-outline-danger"
                                                            type="submit" name="removePerson">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>

                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    {% endfor %}


    {% include 'global/snippets/pagination.html' %}

{% endblock %}

