table.alternating {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
table.alternating td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

table.alternating tr:nth-child(even) {
background-color: #dddddd;
}
