{% extends 'global/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_content %}
    <form method="post">
        {% csrf_token %}
        <h3>{% trans 'Are you sure you want to delete' %}: {{ object }}?</h3>
        <button type="submit" class="btn btn-sm btn-danger">{% trans 'Confirm' %} </button>
        <a class="btn btn-sm btn-primary" href="{{ request.META.HTTP_REFERER }}">
            {% trans 'Cancel' %}
        </a>
    </form>
{% endblock %}