{% extends 'global/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block page_content %}
    <h3 class="display-6">
        {% block custom_header %}
        {% endblock %}
    </h3>

    {% crispy filter.form filter.form.helper %}
    <form method="post" autocomplete="off" class="checkbox-list">
        {% csrf_token %}
        {% include "global/snippets/number_of_table_entries.html" %}
        {% include "global/js/checkbox_list.html" %}
        {% render_table table %}
        {% block more_form_fields %}{% endblock more_form_fields %}

        <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">{% trans 'Back' %}</a>
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">
            {% block submit_text %}
            {% trans 'Add' %} 
            {% endblock submit_text %}
        </button>
    </form>
{% endblock %}