{% extends 'practices/practice_base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block custom_css %}
    {% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

{% block practice-content %}

    <div class="row">
        <div class="col-sm mb-3">
            <h3 class="display-6">{% trans 'Contact notes' %}
                <a href="{% url 'practices:contactnote-create' practice.id %}">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </h3>
        </div>
        <div class="col-sm mb-3 mt-2 text-end">
            <form method="get" autocomplete="off" id="contact_note_filter_form">
                {% trans 'Filter notes by tag:' %} {{ filter.form.tags }}
                <input class="btn btn-primary" type="submit" value="{% trans 'Apply' %}"/>
            </form>
        </div>
    </div>

    {% for contactnote in page_obj %}
        <table class="table table-sm table-borderless">
            <tbody>
            <tr class="table-primary">
                <td>
                    <span>
                        {% trans 'Created at' %} {{ contactnote.created_at }} {% trans 'by' %} {{ contactnote.author }}
                    </span>
                    <span class="float-end">
                            <a href="{% url 'contactnotes:edit' contactnote.id %}">
                                <i class="fa fa-edit"></i> {% trans 'Edit' %}
                            </a>
                            <a href="{% url 'contactnotes:contact-note-delete' contactnote.id %}"
                            class="btn btn-sm btn-outline-danger">
                              <i class="fa fa-trash"></i> {% trans 'Delete' %}
                            </a>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-2">
                            <dt>{% trans 'Correspondence' %}</dt>
                            <dd>
                                {% if contactnote.contact_person %}
                                    {% trans 'with' %} {{ contactnote.contact_person }}
                                {% endif %}
                                {% trans 'via' %} {{ contactnote.get_contact_medium_display|capfirst }}
                            </dd>
                            {% if contactnote.contact_date %}
                                <dt>{% trans 'Contact Time' %}</dt>
                                <dd>
                                    {{ contactnote.contact_date }}{% if contactnote.contact_time %}:
                                        {{ contactnote.contact_time|time }}{% endif %}
                                </dd>
                            {% endif %}
                            <dt>{% trans 'Direction' %}</dt>
                            <dd>
                                {{ contactnote.get_direction_display|capfirst }}
                            </dd>
                            <dt>{% trans 'Tags' %}</dt>
                            <dd>

                                {% for tag in contactnote.tags.all %}
                                    <span class="badge bg-primary">{{ tag.slug }}</span>
                                {% endfor %}

                            </dd>
                        </div>
                        <div class="col-sm">
                            <dt>{% trans 'Protocol' %}</dt>
                            <dd>
                                {{ contactnote.note|linebreaksbr }}
                            </dd>
                        </div>
                        {% if contactnote.attachments_with_id_and_short_name %}
                            <div class="col-sm">
                                <dt>{% trans 'Attachments' %}</dt>
                                <ul>
                                    {% for attachment_id, attachment, short_name in contactnote.attachments_with_id_and_short_name %}
                                        <li>
                                            <a href="{% url 'contactnotes:attachment-download' contactnote.id attachment_id %}">
                                                {{ short_name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </td>

            </tr>


            </tbody>

        </table>
    {% endfor %}
    {% include 'global/snippets/pagination.html' %}

{% endblock %}


{% block custom_script %}
    <script>
        //hack to make filter case insensitive
        //TODO: there must be a much better way doing this in the view / on server side
        let tag_filter_input = "#id_tags"
        let filter_form = "#contact_note_filter_form"

        // submit logic
        $(filter_form).submit(function () {
            let lowercase_input = $(tag_filter_input).val().toLowerCase();
            $(tag_filter_input).val(lowercase_input);
        });
    </script>

{% endblock %}