{% load i18n %}
{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="de-DE ">

<head>
    <title>{% trans 'Event participation' %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: white;
            padding-bottom: 30vh;
        }
    </style>
</head>

<body class="bg-primary bg-gradient">
    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>
</body>

</html>