{% extends "events/forms/invitation/basic_invitation.html" %}
{% load i18n %}

{% block page_content %}
<h1>{% trans 'Your answer for event participation' %}</h1>
<div class="row mt-4">
    <div class="col">
        <form method="POST" action="{% url 'events:invitation-link-cancel' invitation_code %}">
            {% csrf_token %}
            <button type="submit" class="btn-lg btn-danger text-nowrap">{% trans 'Decline' %}</button>
        </form>
    </div>
    <div class="col">
        <form method="POST" action="{% url 'events:invitation-link-confirm' invitation_code %}">
            {% csrf_token %}
            <button type="submit" class="btn-lg btn-success text-nowrap">{% trans 'Confirm' %}</button>
        </form>
    </div>
</div>
{% endblock %}