{% extends 'events/base.html' %}
{% load i18n %}


{% block event_content %}
<h3 class="display-5 text-truncate">
    {% trans 'Event' %} {{ event.id }}: {{ event.title }}
</h3>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Dates' %}:
        </h5>
        <dl>
            {% if participation.event.fixed_dates %}
            <p>{% trans 'This event takes place on fixed dates' %}:</p>
            {% else %}
            <p>{% trans 'This event takes place over a time period' %}:</p>
            {% endif %}
            {% for date in event.datemodel_set.all %}
            <dt>{% trans 'Date' %} {{ forloop.counter }}</dt>
            <dd>{{ date.date }}: {{ date.start_time|time }} - {{ date.end_time|time }}</dd>
            {% endfor %}
        </dl>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Information' %}
        </h5>
        <p class="card-text">
        <dl>
            <dt>{% trans 'Author' %}</dt>
            <dd>{{ user.medical_title }} {{ event.author.first_name }} {{ event.author.last_name }}</dd>

            <dt>{% trans 'Responsible Institute' %}</dt>
            <dd>{{ event.assigned_institute }}</dd>
            {% if event.description %}
            <dt>{% trans 'Description' %}</dt>
            <dd>{{ event.description|linebreaksbr }}</dd>
            {% endif %}
            {% if event.status %}
            <dt>{% trans 'Current status' %}</dt>
            <dd>{{ event.get_status_display }}</dd>
            {% endif %}
            {% if event.takes_place %}
            <dt>{% trans 'Takes place' %}</dt>
            <dd>{{ event.get_takes_place_display|linebreaksbr }}</dd>
            {% endif %}
            {% if event.video_call_url %}
            <dt>{% trans 'Video call link' %}</dt>
            <dd>{{ event.video_call_url|urlize }}</dd>
            {% endif %}
            {% if event.location %}
            <dt>{% trans 'Location' %}</dt>
            <dd>{{ event.location}}</dd>
            {% endif %}
            {% if event.type %}
            <dt>{% trans 'Type of event' %}</dt>
            <dd>{{ event.type}}</dd>
            {% endif %}
            {% if event.participant_group %}
            <dt>{% trans 'Participant group' %}</dt>
            <dd>{{ event.participant_group}}</dd>
            {% endif %}
            {% if event.max_participation %}
            <dt>{% trans 'Maximum number of participants' %}</dt>
            <dd>{{ event.max_participation}}</dd>
            {% endif %}
            {% if event.prerequisites %}
            <dt>{% trans 'Prerequisites' %}</dt>
            <dd>{{ event.prerequisites}}</dd>
            {% endif %}
            {% if event.organization %}
            <dt>{% trans 'Organization' %}</dt>
            <dd>{{ event.organization}}</dd>
            {% endif %}
            {% if event.lecturers %}
            <dt>{% trans 'Lecturers' %}</dt>
            <dd>{{ event.lecturers}}</dd>
            {% endif %}
            {% if event.certificates %}
            <dt>{% trans 'Certificates' %}</dt>
            <dd>{{ event.certificates}}</dd>
            {% endif %}
            {% if event.cme_points %}
            <dt>{% trans 'CME points requested' %}</dt>
            <dd>{{ event.cme_points|yesno }}</dd>
            {% endif %}
            {% if event.additional_notes %}
            <dt>{% trans 'Additional notes' %}</dt>
            <dd>{{ event.additional_notes}}</dd>
            {% endif %}
            {% if event.is_draft %}
            <dt>{% trans 'Is a draft' %}</dt>
            <dd>{{ event.is_draft}}</dd>
            {% endif %}
        </dl>
        </p>
    </div>
</div>
{% endblock %}

{% block side_bar_right %}
<ul class="nav flex-column w-100">
    <div>
        {% if "EDIT_EVENT" in actions %}
        <a {% include 'global/buttons/sidebar_controls/edit_classes.html' %} href="{% url 'events:edit' event.id %}">
            <i class="fa fa-edit"></i> {% trans 'Edit Event' %}
        </a>
        <a {% include 'global/buttons/sidebar_controls/edit_classes.html' %} href="{% url 'events:add_dates' event.id %}">
            <i class="fa fa-edit"></i> {% trans 'Edit dates' %}
        </a>
        {% else %}
        <h5>
            {% trans 'Event author' %}: 
        </h5>
        <p>
            {{ event.author }}
        </p>
        {% endif %}
        {% if "DELETE_EVENT" in actions %}
        <a {% include 'global/buttons/sidebar_controls/delete_classes.html' %}
            href="{% url 'events:delete' event.id %}">
            <i class="fa fa-trash"></i> {% trans 'Delete Event' %}
        </a>
        {% endif %}


    </div>
</ul>
{% endblock %}