{% extends 'events/base.html' %}
{% load i18n %}
{% load django_tables2 crispy_forms_tags %}

{% block event_content %}
    <h3 class="display-5">
        {% trans 'Participations' %}
    </h3>
    <div class="row mt-3">
        <div class="col-sm">
            {% crispy filter.form filter.form.helper %}

            {% url 'events:participation-invite-all' event.id as invite_all_url %}
            {% include "global/modals/confirm.html" with confirm_url=invite_all_url model_id="inviteAllModal" %}
            <a class="btn btn-primary" data-bs-toggle="modal", data-bs-target="#inviteAllModal">
                {% trans 'All invited' %}
            </a>

            {% url 'events:participation-sign-up-all' event.id as sign_up_all_url %}
            {% include "global/modals/confirm.html" with confirm_url=sign_up_all_url model_id="singUpAllModal" %}
            <a class="btn btn-primary" data-bs-toggle="modal", data-bs-target="#singUpAllModal">
                {% trans 'All signed up' %}
            </a>

            {% url 'events:participation-participate-all' event.id as participate_all_url %}
            {% include "global/modals/confirm.html" with confirm_url=participate_all_url model_id="participateAllModal" %}
            <a class="btn btn-primary" data-bs-toggle="modal", data-bs-target="#participateAllModal">
                {% trans 'All participated' %}
            </a>

            {% include "global/snippets/number_of_table_entries.html" %}
            {% render_table table %}
        </div>
    </div>
{% endblock %}