{% load i18n %}
{% load static %}
{% load bootstrap5 %}


<!DOCTYPE html>
<html lang="de-DE ">

<head>
    <title>Praxisregister FoPraNet-BW</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- begin fixed js part -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
            integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
            crossorigin="anonymous"></script>
    {% bootstrap_javascript %}

    <!-- end fixed js part -->


    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/png" href="{% static 'practices/favicon.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <!-- begin custom css -->
    <style>
        .myNavLink:hover {
            text-decoration: underline;
        }
    </style>


</head>
<body class="bg-white" style="overflow-y:scroll;">

<div class="d-flex min-vh-100 flex-column overflow-hidden">
    <div class="row flex-fill">
        <div class="col">
            {% block content %}
                <div class="d-flex h-100">
                    <div class="p-2 flex-shrink-1  border border-end" style="width: 15em;">
                        <!-- begin left sidebar -->
                        {% block side_bar %}
                        {% endblock %}
                        <!-- end left sidebar -->

                    </div>
                    <div class="container-lg p-0 w-100">
                        <div class="mt-3">
                            {% bootstrap_messages %}
                        </div>
                        <!-- begin page content part -->
                        {% block page_content %}
                        {% endblock %}
                        <!-- end page content part -->
                    </div>

                    <div class="p-2 flex-shrink-1 border border-start" style="width: 15em;">
                        <!-- begin right sidebar -->

                        {% block side_bar_right %}
                        {% endblock %}

                        <!-- end right sidebar -->

                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>