{% extends 'practices/practice_base.html' %}
{% load i18n %}
{% load static %}


{% block page_content %}
    <div class="row">
        <div class="col-sm">
            <h3 class="display-6">
                {% trans 'Other Institutes with access to this practice' %}
                {% if 'EDIT_ALLOWED_INSTITUTES' in actions %}
                    <a href="{% url 'practices:allowed-institutes-edit' practice.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                {% endif %}

            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            {% for institute in practice.allowed_institutes.all %}
                {{ institute }}<br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
