{% load crispy_forms_filters %}
{% load i18n %}

<div hx-target="this" hx-swap="outerHTML">
    <form method="POST">
        {% csrf_token %}
        {% crispy form %}
        {% if date %}
        <button class="btn btn-success" hx-post="{% url 'events:update-date' date.id %}">{% trans 'Save date' %}</button>
        {% else %}
        <button class="btn btn-success" hx-post=".">{% trans 'Save date' %}</button>
        {% endif %}
        <br><br>
    </form>
</div>