{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}


{% block page_content %}
    <h2 id="id_form_header">{{ form.instance }}</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-primary" href="{% url 'processes:definition-detail' object.id %}">{% trans 'Back' %}<a>
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %}</button>
    </form>
    {% if not process_definition.is_draft %}
        <div class="mt-3">
        {% include 'processes/steps_definition.html' %}
        </div>
    {% endif %}
{% endblock %}