{% extends 'importer/import-sidebar-left.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block custom_css %}
{% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

{% block page_content %}
<form method="post" action="{% url 'importer:mapper-fields-bulk-create' mapper.id %}" autocomplete="off">
    {% csrf_token %} 
    <div class="table-responsive">
        <table class="table table-borded table-striped" id="table-list">
            <thead class="bg-primary text-white">
                <tr>
                    <th>{% trans 'Your table headers' %}</th>
                    <th>{% trans 'System fields' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for header in headers %}
                <tr>
                    <td>{{ header }}</td>
                    <td>
                        <select id="{{ header }}" name="{{header}}">
                        {% for c_value, c_name in model_field_choices %}
                            <option value="{{ c_value }}" selected>{{ c_name }}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <input type="submit"  value="{% trans 'Save field mapping' %}" class="btn btn-primary" id="validation-form" >
</form>
{% endblock %}
