{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block page_content %}
    <h2>{{ form.instance }} - {% trans 'Contact Times' %}</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}

        {{ management_form }}

        {% for timeslot, timeslot_form in timeslot_entries_and_formset %}

            {{ timeslot_form.id }}
            <strong>{{ timeslot.get_weekday_display }}</strong>
            <div class="row">
                <div class="col">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">{% trans 'Early' %}</span>
                        {{ timeslot_form.early_start }}
                        {{ timeslot_form.early_end }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">{% trans 'Late' %}</span>
                        {{ timeslot_form.late_start }}
                        {{ timeslot_form.late_end }}
                    </div>
                </div>
            </div>

        {% endfor %}
        <br>
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %} </button>
    </form>
{% endblock %}
