{% extends "schedule/base.html" %}
{% load i18n scheduletags %}

{% block body %}
<div class="navigation">
  <a class="btn btn-primary gradient" href="{% url "day_calendar" occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 3 %}">
    {% trans "Day" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "month_calendar" occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 2 %}">
    {% trans "Month" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "year_calendar" occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 1 %}">
    {% trans "Year" %}
  </a>
</div>

<div class="event_actions" align="center">
  {% if back_url %}
  <a href="{{ back_url }}">
    <i class="fa-solid fa-circle-arrow-left"></i>
  </a>
  &nbsp;
  {% endif %}
  <a href="{{occurrence.get_edit_url}}">
   {% trans "Edit" %} <i class="fa-solid fa-pen-to-square"></i>
  </a>
  &nbsp;
  <a href="{{occurrence.get_cancel_url}}">
   {% trans "Delete" %} <i class="fa-solid fa-trash"></i>
  </a>
</div>
<h2 align="center">{{occurrence.title}}</h2>
<table align="center" class="table table-hover">
<tr>
<td>{% trans "Starts" %}</td>
<td>{% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>{% trans "Ends" %}</td>
<td>{% blocktrans with occurrence.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>{% trans "Reoccurs" %}</td>
{% if occurrence.event.rule %}
<td>{{ occurrence.event.rule.name }} {% trans "until" %} {% blocktrans with occurrence.event.end_recurring_period|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}</td>
{% else %}
<td>{% trans "Never. This is a 'one time only' event." %}</td>
{% endif %}
</tr></table>
{% if occurrence.description %}
<h3>{% trans "Description" %}</h3>
<p>{{occurrence.description}}</p>
{% endif %}

{% endblock %}
