{% load i18n %}
{% load filename %}

{% for attachement in email_object.emailattachement_set.all %}
{% if attachement.file %}
<div class="row">
    <div class="col-md-auto">
        <strong>{% trans 'Attachement' %} {{ forloop.counter }}:</strong>
        <a href="{% url 'mail:attachement-download' email_object.id attachement.id %}">{{ attachement.file|filename }}</a>
    </div>
</div>
{% endif %}
{% endfor %}