{% load i18n %}

<div class="navbar-text p-2 text-wrap bg-white text-dark border rounded border-dark shadow lh-1">
    <strong>{% trans 'Subject' %}: </strong><p>{{ email_object.subject }}</p>
    <strong>{% trans 'Status' %}: </strong><p>{% if email_object.draft %}{% trans 'Draft' %}{% else %}{% trans 'Sent' %}{% endif %}</p>
</div>